repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-docstring-first
        - id: check-json
        - id: check-added-large-files
        - id: check-yaml
        - id: debug-statements
        - id: name-tests-test
          args: ['--pytest-test-first']
        - id: check-merge-conflict
          #    - repo: https://github.com/adrienverge/yamllint.git
          #      rev: v1.28.0
          #      hooks:
          #        - id: yamllint
    - repo: https://github.com/pre-commit/mirrors-pylint
      rev: v3.0.0a5
      hooks:
      - id: pylint
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.14
      hooks:
      - id: ruff-check
        args: [--fix, --show-fixes, --output-format, grouped]
      - id: ruff-format
