--extra-index-url="https://packages.dea.ga.gov.au"

aiobotocore[awscli]==1.3.3
fc==1.3.5
fsspec
hdstats
nrt-predict==0.1.2
numpy
odc-algo
odc-apps-cloud
odc-apps-dc-tools
odc-aws
odc-index
wofs==1.6.4
xarray
git+https://github.com/GeoscienceAustralia/eo-datasets.git
h5py
