--extra-index-url="https://packages.dea.ga.gov.au"
--find-links="https://packages.dea.ga.gov.au/fc"
--no-binary fiona
--no-binary rasterio
--no-binary shapely

datacube[s3]<1.9
aiobotocore[awscli, boto3]
fractional_cover
kombu
fsspec
hdstats
nrt-predict
odc-algo
odc-apps-cloud
odc-apps-dc-tools
wofs
xarray
eodatasets3


# Match Docker image version.
gdal==3.8.5
# No SQLAlchemy 2.0 support in datacube 1.8.
sqlalchemy<2.0
