affine==2.3.0
attrs==19.3.0
boltons==20.2.0
boto3==1.14.31
botocore==1.17.31
Bottleneck==1.3.2
cachetools==4.1.1
cattrs==1.0.0
certifi==2020.6.20
cftime==1.2.1
chardet==3.0.4
ciso8601==2.1.3
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==1.5.0
contextvars==2.4
coverage==5.2.1
dask==2.21.0
datacube==1.8.2
distributed==2.21.0
docutils==0.15.2
eodatasets3==0.10.1
ephem==3.7.7.1
-e git+git@github.com:GeoscienceAustralia/fc.git@adc086d8875db14fa8c76abb1b593226f7bfd20f#egg=fc&subdirectory=../../../codependency/fc
flake8==3.8.3
fsspec==0.7.4
h5py==2.10.0
HeapDict==1.0.1
idna==2.10
immutables==0.14
importlib-metadata==1.7.0
iniconfig==1.0.0
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
lark-parser==0.9.0
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.4.0
msgpack==1.0.0
netCDF4 @ file:///wheels/netCDF4-1.5.3-cp36-cp36m-linux_x86_64.whl
numexpr==2.7.1
numpy==1.19.1
odc-index==0.1.dev536+g2937876
odc-io==0.1.dev536+g2937876
packaging==20.4
pandas==1.1.0
pkg-resources==0.0.0
pluggy==0.13.1
psutil==5.7.2
psycopg2==2.8.5
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pyproj @ file:///wheels/pyproj-2.6.1.post1-cp36-cp36m-linux_x86_64.whl
pyrsistent==0.16.0
pytest==6.0.1
pytest-cov==2.10.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
rasterio @ file:///wheels/rasterio-1.1.4-cp36-cp36m-linux_x86_64.whl
requests==2.24.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s3fs==0.4.2
s3transfer==0.3.3
scipy==1.5.2
Shapely @ file:///wheels/Shapely-1.7.0-cp36-cp36m-linux_x86_64.whl
six==1.15.0
snuggs==1.4.7
sortedcontainers==2.2.2
SQLAlchemy==1.3.18
structlog==20.1.0
tblib==1.7.0
toml==0.10.1
toolz==0.10.0
tornado==6.0.4
urllib3==1.25.10
wofs==1.5.4
xarray==0.16.0
zict==2.0.0
zipp==3.1.0
