--extra-index-url="https://packages.dea.ga.gov.au"

datacube[s3]
aiobotocore[awscli, boto3]==2.2.0
fc
kombu
fsspec
hdstats
nrt-predict
odc-algo
odc-apps-cloud
odc-apps-dc-tools
wofs
xarray
eodatasets3
