name: Alchemist

on:
  pull_request:
    branches:
      - main
    paths:
      - 'datacube_alchemist/**'
      - 'tests/**'
      - '.github/workflows/test.yml'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Build the docker container
      run: |
        docker-compose build

    - name: Bring up the docker container
      run: |
        docker-compose up -d
        docker-compose exec -T alchemist datacube system init

    - name: Run linting
      run: |
        docker-compose exec -T alchemist flake8

    - name: Run tests
      run: |
        docker-compose exec -T alchemist pytest tests

    - name: Integration tests
      run: |
        docker-compose exec -T alchrmist bash ./tests/integration_tests.sh
