name: Alchemist

on:
  pull_request:
    branches:
      - main
    paths:
      - 'datacube_alchemist/**'
      - 'tests/**'
      - '.github/workflows/test.yml'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Build the docker container
      run: |
        docker-compose build

    - name: Bring up the docker container
      run: |
        docker-compose up -d
        sleep 5
        docker-compose exec -T alchemist datacube system init
        docker-compose exect -T alchemist datacube-alchemist --help

    - name: Run linting
      run: |
        docker-compose exec -T alchemist flake8

    - name: Run tests
      run: |
        docker-compose exec -T alchemist pytest tests
  
    # This is failing, so I'm disabling until later. Alex Oct 2020
    # - name: Integration tests
    #   run: |
    #     docker-compose exec -T alchemist bash ./tests/integration_tests.sh
